{{ ansible_managed | comment }}

[Unit]
Description=Celery Worker daemom
Documentation={{ superset_services.celery_worker.doc_url }}
Requires=network-online.target
After=network-online.target

[Service]
RuntimeDirectory={{ superset_services.celery_worker.service_name }}
EnvironmentFile={{ superset_environment_file_folder }}/{{ superset_app_name }}
User={{ superset_user }}
Group={{ superset_group }}
Type=simple
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s
PrivateTmp={{ superset_private_tmp }}
ExecStart={{ superset_bin_path }}/celery worker {% for option in superset_services.celery_worker.run_options %}{% if option %}{{ option }} {% endif %}{% endfor %}

StandardOutput={{ superset_log_path }}/{{ superset_services.celery_worker.service_name }}.stdout.log
StandardError={{ superset_log_path }}/{{ superset_services.celery_worker.service_name }}.stderr.log

[Install]
WantedBy=multi-user.target
