{{ ansible_managed | comment }}

[Unit]
Description=Superset daemom
Documentation={{ superset_services.app.doc_url }}
Requires=network-online.target
After=network-online.target

[Service]
RuntimeDirectory={{ superset_services.app.service_name }}
EnvironmentFile={{ superset_environment_file_folder }}/{{ superset_services.app.service_name }}
User={{ superset_user }}
Group={{ superset_group }}
Type=simple
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s
PrivateTmp={{ superset_private_tmp }}
ExecStart={{ superset_bin_path }}/{{ superset_exec_name }} run {% for option in superset_services.app.run_options %}{% if option %}{{ option }} {% endif %}{% endfor %}

LimitNOFILE={{ superset_max_files }}

StandardOutput={{ superset_log_stdout }}
StandardError={{ superset_log_stderr }}

[Install]
WantedBy=multi-user.target
