{{ ansible_managed | comment }}
# This file is the environment file for Superset. Put this file in /etc/sysconfig/superset per default
# configuration of the systemd unit files.
#
# SUPERSET_HOME=
# SUPERSET_CONFIG_PATH=
#

if [ -d "{{ superset_bin_path }}" ] ; then
    export PATH="{{ superset_bin_path }}:$PATH"
fi

if [ -d "{{ superset_app_home }}" ] ; then
    export SUPERSET_HOME="{{ superset_app_home }}"
fi

if [ -f "{{ superset_config_file_path }}" ] ; then
    export SUPERSET_CONFIG_PATH={{ superset_config_file_path }}
fi

if [ -f "{{ superset_config_file_path }}" ] ; then
    export PYTHONPATH="{{ superset_config_file_path }}"
fi
