FLASK_APP = '{{ superset_app_name }}'
APP_NAME = '{{ superset_app_name }}'

# Superset specific config
ROW_LIMIT = 5000

# Superset webserver port
SUPERSET_WEBSERVER_PORT = {{ superset_port }}
# Superset webserver address
SUPERSET_WEBSERVER_ADDRESS = '{{ superset_address }}'
# Superset upload folder
UPLOAD_FOLDER = '{{ superset_upload_folder_path }}'
IMG_UPLOAD_FOLDER = '{{ superset_upload_img_folder_path }}'

# Flask App Builder configuration
# Your App secret key
SECRET_KEY = '\2\{{ superset_flask_app_secret_key }}\1\2\e\y\y\h'

# The SQLAlchemy connection string to your database backend
# This connection defines the path to the database that stores your
# superset metadata (slices, connections, tables, dashboards, ...).
# Note that the connection information to connect to the datasources
# you want to explore are managed directly in the web UI
SQLALCHEMY_DATABASE_URI = '{{ superset_sqlalchemy_database_uri }}'

# Flask-WTF flag for CSRF
WTF_CSRF_ENABLED = True
# Add endpoints that need to be exempt from CSRF protection
WTF_CSRF_EXEMPT_LIST = []
# A CSRF token that expires in 1 year
WTF_CSRF_TIME_LIMIT = 60 * 60 * 24 * 365
